{% extends "account/base.html" %}

{% block content %}
  
<title>Login</title>
    <h1>Login</h1>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
 
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>      
      <input type="submit" value="Register">
    </form>
    <p>Don't have an account yet? <a href="/register">Register</a></p>   
{% endblock content %}
