{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    <h1>{{ profile.full_name }}</h1>
  </header>
  <main>
    <section class="profile">
      <div class="profile-picture">
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
        {% else %}
            <img src="{% static 'images/default_img.png' %}" alt="Profile Picture">
        {% endif %}
      </div>
      <div class="profile-details">
        <h2 class="full-name">{{ user.username }}</h2>
        <p class="username">{{ user.email}}</p>
        <p class="bio">{{ profile.bio }}</p>
        <p class="website"><a href="{{ profile.website }}">{{ user.username }}.com</a></p>
        <p class="location">{{ profile.location }}</p>
        <a class="editprofile" href="{% url 'edit_profile' %}">Edit Profile</a>
      </div>
    </section>
  </main>
  
{% endblock content %}